<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collected User Data</title>
</head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
<body>
<table id="id_user_data_table" style="width:80%">
    <tr>
        <th>ID</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Waist</th>
        <th>Hip</th>
        <th>Smoke</th>
        <th>Hypertension</th>
        <th>Diet</th>
        <th>Family</th>
    </tr>
    {% for rf in risk_factors %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ rf.gender }}</td>
            <td>{{ rf.age }}</td>
            <td>{{ rf.height }}</td>
            <td>{{ rf.weight }}</td>
            <td>{{ rf.waist }}</td>
            <td>{{ rf.hip }}</td>
            <td>{{ rf.smoke }}</td>
            <td>{{ rf.hypertension }}</td>
            <td>{{ rf.diet }}</td>
            <td>{{ rf.family }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>