<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diabetes Risk Estimator</title>
</head>
<body>
    <h1>Diabetes Risk Estimator</h1>
    <p><a href="https://bitbucket.org/chunyang_song/diabetes_demo/src" > View source code on Bitbucket</a> |
    <a href="/database" > View database content</a></p>
    <h3>Please fill in your information and press the calculate button: </h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input id="id_submit_button" type="submit" value="Calculate">
        <h2 id = "id_result" > {{result_text}} </h2>
    </form>
</body>
</html>